$color1: rgba(197, 175, 164, 1);
$color2: rgba(204, 126, 133, 1);
$color3: rgba(207, 77, 111, 1);
$color4: rgba(163, 109, 144, 1);
$color5: rgba(118, 129, 142, 1);

#menu{
	font-family: 'Pacifico', cursive;
	font-size: 20px;
	margin-bottom: 0px;
}

#imagenes{
	padding-top: 50px;
	padding-bottom: 50px;

	h3{
		padding-bottom: 40px;
	}


}

#about{
	
	font-family: 'Pacifico', cursive;
	padding-bottom: 50px;

	img{
		max-width: 100%;
		color: white;
	}
}

.jumbotron{
	background: $color1;
	color: white;
}





	 #redes{
	 	
	 	font-size: 35px;

	 	h3{
	 		margin: 0px;
	 	}

	 }

	 #copy{
	 	background: grey;
	 	padding: 0px;
	 }