/* Coolors Exported Palette - coolors.co/c5afa4-cc7e85-cf4d6f-a36d90-76818e */

/* HSL */
$color1: hsla(20%, 22%, 71%, 1);
$color2: hsla(355%, 43%, 65%, 1);
$color3: hsla(344%, 58%, 56%, 1);
$color4: hsla(321%, 23%, 53%, 1);
$color5: hsla(213%, 10%, 51%, 1);

/* RGB */
$color1: rgba(197, 175, 164, 1);
$color2: rgba(204, 126, 133, 1);
$color3: rgba(207, 77, 111, 1);
$color4: rgba(163, 109, 144, 1);
$color5: rgba(118, 129, 142, 1);